.circle-dark-dashed {
    position: absolute;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: transparent;
    border: 2px dashed #4f7b86;
}
#progress {
    position: absolute;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    border: none;
}
.intro_box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    position: absolute;
    min-width: 350px;
    height: 3px;
    background-color: #402d2d;
}
.letters {
    font-size: 3.5em;
    font-weight: 600;
    opacity: 0;
}
.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-box {
    position: absolute;
    margin-top: 170px;
}
.btn {
    opacity: 0;
    border: none;
    border-top: 2px solid #1C1C1E;
    border-bottom: 2px solid #1C1C1E;
    background-color: #ffffff;
    width: 90px;
    height: 30px;
    font-weight: 500;
}
.btn:hover {
    background-color: #1C1C1E;
    color: white;
    cursor: pointer;
}
.btn1 {
    margin-right: 10px;
}
.btn2 {
    margin-left: 10px;
}
